.app {
    height: 100dvh;
    color: var(--foreground);
    background: var(--background);
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
    min-height: 0;
    overflow: auto;
}
